
<h1><%=@team.name%></h1>
<h2>Team Motto: <%=@team.motto%></h2>
<% binding.pry %>

<% @heros.each do |hero| %>
<p>Hero Name: <%= hero.name %></p>
<p>Hero Power: <%= hero.power %></p>

<p>Hero Biography: <%= hero.biography %></p>
<% end %>
